
/* Responsive CSS Style */
@media only screen and (max-width: 1079px) {

}
@media only screen and (min-width: 960px) and (max-width: 1079px) {
	.container {
		width: 940px;
	}
	.header-ad {
		width: 600px;
		margin-top: 23px;
	}
	#primary {
		width: 620px;
	}
	.menu-item-home {
		display: none;
	}	
	#secondary-menu li a {
		text-transform: none;
	}
	.is-sticky {
		#secondary-bar { 
			.site-branding {
				margin: 0 5px 0 10px;
			}
			.search-icon {
				right: 10px;
			}
		}
		.header-search {
			right: 0;
		}
		#secondary-menu li a {
			font-size: 14px;
			margin: 0 5px;
		}		
	}
	#featured-content {
		.featured-large {
			width: 602px;
		}
		.featured-small {
			width: 327px;
		}
		.entry-comment {
			display: none;
		}
	}
	.content-block-3 {
		.post-block {
			width: 300px;
		}
		.block-left,
		.block-middle {
			margin-right: 20px;
		}
	}
	.content-block-4 .block-loop,
	.content-loop {
		.hentry {
			width: 220px;
			margin: 0 20px 20px 0;
		}
		.entry-comment {
			display: none;
		}
	}
	.content-list {
		.thumbnail-link {
			width: 250px;
		}
	}
	.content-search {
		.entry-link span {
			display: none;
		}
	}
	.footer-columns {
		.footer-column-1,
		.footer-column-2,
		.footer-column-3 {
			width: 300px;
		}			
		.footer-column-1,
		.footer-column-2 {
			margin-right: 20px;
		}		
	}
	.entry-related .hentry {
		width: 193px;
		margin: 0 20px 20px 0;
	}
	.comment-form {
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			width: 196px;
		}
	}

}

@media only screen and (min-width: 959px) {
	.mobile-menu {
		display: none !important;
	}
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

	.site-header {
		width: 100%;
		height: 50px;
		position: relative;
	}
	.site-branding {
		.logo {
			height: 50px;
		}
		img {
		    max-height: 45px;
		}	
	}
	.site-title h1 {
		font-size: 26px;
		margin: 0;
		line-height: 49px;
	}
	.site-desc,
	#primary-nav,
	#secondary-nav {
		display: none;
	}	
	.search-icon {
		top: 11px;
		right: 15px;
	}
	.header-search {
		top: 50px;
		right: 15px;
	}
	#primary-bar {
		height: 0;
		display: none;
	}
	.site-start {
		height: 0;
	}
	#secondary-bar-sticky-wrapper,
	#secondary-bar {
		position: static !important;
		.container {
			position: static;
		}
	}
	.is-sticky {
		position: static;
		.site-branding {
			display: none !important;
		}
		.search-icon {
			right: 15px !important;
		}	
	}
	.mobile-menu-icon {
		display: block;
	}
	.mobile-menu {
		padding-left: 1%;
		padding-right: 1%;
	}
	.container,
	#primary,
	#secondary {
		width: 98%;
		margin-left: auto;
		margin-right: auto;
	}	
	.site-footer {
		width: 100%;
	}

	#secondary-bar {
		border: 0;
		height: 0;
		position: static;
		top: 0;
	}
	#primary {
		float: none;
		margin-bottom: 25px;
	}
	#secondary {
		float: none;
	}
	.widget-goodsite-home-three-columns {
		margin-bottom: 0;
	}
	.sidebar,
	.site-footer {
		.widget_ad {
			text-align: center;
		}
	}
	.comment-form {
		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			width: 100%;
		}
	}	
	.footer-columns {
		.footer-column-1,
		.footer-column-2,
		.footer-column-3 {
			float: none;
			width: 98%;
			margin: 0 auto 20px;
		}	
	}
	#site-bottom {
		text-align: center;
		.site-info {
			float: none;
			margin-bottom: 5px;
		}		
		.footer-nav {
			float: none;
			ul li {
				padding: 0 5px;
			}
		}
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.header-ad {
		float: left;
		width: 90%;
		height: auto;
		margin: 20px 0 0 5%;
		&:after {
			display: block;
			content: " ";
			clear: both;
		}
	}
	#featured-content {
		width: 100%;
		.featured-large {
			width: 100%;
			margin-bottom: 15px;
		}
		.featured-small {
			float: left;
			width: 49%;
			margin-left: 0;
			&.last {
				margin: 0 0 0 2%;
			}
		}
	}	
	.content-loop,
	.content-block-4 .block-loop {
		.hentry {
			width: 49%;
			margin: 0 2% 30px 0;
			&:nth-of-type(2n) {
				margin-right: 0;
			}
			&:nth-of-type(2n+1) {
				clear: left;
			}
		}
	}

	.content-block-3 {
		.post-block {
			float: none;
			width: 100%;
			margin-bottom: 30px;
			&:after {
				display: block;
				content: " ";
				clear: both;
			}
			.post-first {
				float: left;
				width: 49%;
			}
			.post-second,
			.post-list.clear {
				float: right;
				clear: none !important;
				width: 49%;
			}
		}
	}	
	.entry-related {
		.hentry {
			width: 32%;
			margin-right: 2%;
		}
	}	
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.header-ad {
		float: left;
		width: 98%;
		height: auto;
		margin: 20px 0 0 1%;
		&:after {
			display: block;
			content: " ";
			clear: both;
		}
	}
	#featured-content {
		width: 98%;
		margin-left: 1%;
		.featured-large {
			width: 100%;
			margin-bottom: 15px;
			.entry-title {
				font-size: 24px;
			}
		}
		.featured-small {
			float: none;
			width: 100%;
			margin-left: 0;
			&.last {
				margin: 15px 0 0 0;
			}
		}
	}	
	#primary {
		margin-left: 1%;
		width: 98%;
	}
	.widget_ad {
		width: 98%;
	}
	.content-list {
		.thumbnail-link {
			float: none;
			width: 100%;
		}
	}
	.content-loop,
	.content-block-4 .block-loop {
		.hentry {
			float: none;
			width: 98%;
			margin: 0 0 25px 0;
		}
	}	
	.content-block-3 {
		.post-block {
			float: none;
			width: 98%;
			margin-bottom: 30px;
			&:after {
				display: block;
				content: " ";
				clear: both;
			}
			.post-first,
			.post-second,
			.post-list.clear {
				width: 100%;
			}
		}
	}	
	.entry-meta .entry-category {
		display: none;
	}		
	.entry-share a {
		margin: 0 2px 0 0;
	}	
	.error-404 {
		.page-content .search-form input.search-field {
			width: 200px;
		}
	}
	#site-bottom {
		text-align: center;
		.site-info {
			float: none;
			margin-bottom: 5px;
		}
		.footer-nav li {
			margin: 0 5px;
		}
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.content-block-4 .block-loop .hentry,
	.content-loop {
		.entry-title {
			font-size: 18px;
		}
	}
	.entry-related {
		.hentry {
			width: 48.5%;
			margin-right: 3%;
			&.last {
				margin-right: 3%;
			}
			&:nth-of-type(2n) {
				margin-right: 0;
			}
			&:nth-of-type(2n+1) {
				clear: left;
			}
			&:nth-of-type(3n+1) {
				clear: none;
			}
			.thumbnail-link {
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
	}	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.content-loop .hentry .entry-title {
		font-size: 18px;
	}
	.entry-share a span,
	.entry-meta .avatar {
			display: none;
	}
	.single .entry-header .entry-meta .meta-right {
		top: 46px;
	}
	.entry-related {
		.hentry {
			width: 100%;
			margin: 0 0 15px 0;
			.thumbnail-link {
				float: left;
				margin: 0 10px 0 0;
				width: 100px;
			}
			.entry-title {
				display: table;
			}
		}
	}	
	.author-box .avatar {
		width: 48px;
	}
	.pagination .page-numbers {
		font-size: 14px;
		margin: 0;
		height: 32px;
		line-height: 32px;
	}
	.page-title,
	.single h1.entry-title, 
	.page h1.entry-title {
		font-size: 26px;
	}
	.footer-social a {
		margin-right: 1px;
	}
	.comment-author .avatar {
		display: none;
	}
	.comment-author, 
	.comment-awaiting-moderation, 
	.comment-content, 
	.comment-list .reply {
		padding-left: 0;
	}
	#comments,
	.comment-respond {
		.comment-metadata {
			display: none;
		}
	}
}
@media only screen and (max-width: 359px) {
	.entry-meta {
		font-size: 13px;
	}
}